<div class="logo-container">
  {% block content %}
    <a href="/">
      <span class="logo-website">
        {{ content.site_logo }}
      </span>
      <span class="name-website">{{ content.site_name }}</span>
    </a>
  {% endblock %}
</div>